doctype html
html(lang="en")
    head
        title Document
        style
            include ../style.css
        block style

    body
    block nav
        nav.navbar 
            a(href="") Home
            a(href="") Add
            a(href="") View
            a(href="") Contact
            a(href="") More
    block content