extends base.pug
block style 
    style 
        include ../incorrectpasword.css
        include ../style.css

block content 
    div.image
        img(src="https://banner2.cleanpng.com/20180625/zxl/kisspng-samsung-galaxy-s4-mini-computer-icons-error-high-risk-5b31aecf941391.0109336815299826716065.jpg", alt="no image")
    h1 ** please insert correct userid and password pleow **